/.vscode

/ChartReview/build
/ChartReview/dist
/ChartReview/list

/DNPDRetina/data/
/DNPDRetina/figure/

/Gaitome/data/
/GaitExtractor/utilities/

/PVDual/data/

/Proteomics/data/
/PyTorch/

/PillTong/.env
/PillTong/sample_images/